<html>
<head>
<style>
h3{
 color: white;
}
</style>
</head>
<body>
<h1><img src="assets/icon7.png" height="50px" width="50px"/>About me</h1>
<br>

<div class="container" style="display:flex;">
  <div style="width: 10%;">Created by:</div>
<div style="flex-grow: 1;">
 Contura
</div>
</div>  
<br>

<div class="container" style="display:flex;">
  <div style="width: 10%;">GitHub:</div>
<div style="flex-grow: 1;">
 <a href="htpps://github.com/pradeepch82/HTML-CCS3">htpps://github.com/pradeepch82/HTML-CCS3</a>
</div>
</div>  
<br>

<div class="container" style="display:flex;">
  <div style="width: 10%;">Role:</div>
<div style="flex-grow: 1;">
 Front End Developer
</div>
</div>  
<br>

<div class="container" style="display:flex;">
  <div style="width: 10%;">Email us at:</div>
<div style="flex-grow: 1;">
 Pradeep Chinchole
</div>
</div>  
<br>

<div class="container" style="display:flex;">
  <div style="width: 10%;">Address:</div>
<div style="flex-grow: 1;">
    Mphasis Ltd. EON free Zone. Cluster C,<br>
    Kharadi Knowledge park SEZ Plot No.1,<br>
    Survey N0.77,MIDC Rd, Kharadi,Pune,<br>
    Maharastra 411014.
</div>
</div>  
<br>

<div class="container" style="display:flex;">
  <div style="width: 10%;">Mobile :</div>
<div style="flex-grow: 1;">
 9158652627
</div>
</div>  
<br>

</body>
</html>

